<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/home.css">
    <title>MacoWins</title>
    <style>
    
    </style>
</head>
<body>
    <section class="welcome"> <!-- El class como distingo una de la otra-->
        <h1>Pitusas</h1>
        <p>Las mejores galletitas dulces rellenas</p>
        <img src = "https://masonlineprod.vtexassets.com/arquivos/ids/171264/Galletas-Chocolate-Pitusas-160-Gr-1-24881.jpg?v=637835144779170000" alt="bienvenida">
    </section> 
    <section class="about">
        <p style="font-size: 18px;"> Este es mi texto con estilo propio</p>
        <ul>
            <li>Pantalones</li>
            <li>Remeras</li>
        </ul>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/sxNqkHikKIk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </section>
    <footer>
        <p>Te damos la bienvenida a MacoWins</p>
        <a href="{{ url_for('get_all_prendas') }}">Ver todas las prendas</a> 
    <footer>
</body>
</html>

        
