<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/home.css">
    <title>Contexto</title>
    <style>
    </style>
</head>
<body>
  <section class="fondo"></section>
  <section class="rectangulo">
    <div class="div-text-0">
      <p>Libreria</p>
    </div>
    <div class="subrect">
    </div>
    <div class="buscar">
        <p>buscar</p>
    </div>
    <div class="linea">
    </div>
    <div class="circulo1">
    </div>
    <div class="circulo2">
    </div>
    <div class="circulo3">
    </div>
    <div class="click">
        <p>En un click</p>
    </div>
    <div class="arriba">
        <img src = "../static/imagenes/mousearriba.png" alt="arriba">
    </div>
    <div class="abajo">
        <img src = "../static/imagenes/mouseabajo.png" alt="abajo">
    </div>
  </section>

</body>

</html>